/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
div {
    display: block;
}
body {
    font: 300 16px  "Proxima-nova", "Helvetica Neue", "Helvetica-", "Arial", "sans-serif";
    width: 100%;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: lighter;
    margin-top: 20px;
    margin-bottom: 10px;
}
header {
    position: fixed;
    background: #222;
    z-index: 1001;
    top: 0;
    width: 100%;
    height: 62px;
}
footer {
    background: #f1f1f1;
    width: 100%;
    display: block;
    clear: both;
    margin-right: auto;
    margin-left: auto;
    padding-top: 5%;
    padding-bottom: 2%;
}
footer .hexagone { 
    height: 227px;
    max-width: 197px;
    margin: auto;
    padding: 5em 0 4.5em 0;
    background: url("../img/hexagon-footer-bg.png") no-repeat, center center;
    background-size: auto 100%;
    background-origin: padding-box;
}
footer .icon-section .hexagone img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
.social-media-icons .hexagone img {
    text-align: center;
    display: inline-block;
    float: left;
    width: 33.33%;
}
header:after {
    clear: both;
}
.navigation .logo-container {
    background: #bd1f3a;
    margin-right: 12px;
    float: left;
}
.navigation .logo {
    background: url("../img/header-logo.png") 9px center no-repeat;
    float: left;
    width: 220px;
    height: 62px;
    max-width: 52px;
    margin-left: 8px;
    margin-right: 15px;
    transition: max-width 0.5s ease-in-out;
}
.navigation .logo:hover {
    max-width: 185px;
}
.navigation {
    width: 100%;
}
.navigation ul {
    background: #222;
    float: left;
    height: 58px;
    margin-left: -4px;
    margin-top: 2px;
}
.navigation li {
    background: url("../img/header-nav-divider.png") right 50% no-repeat;
    float: left;
    line-height: 58px;
    padding: 0 16px;
    padding-right: 17px;
    position: relative;
    display: block;
}
.navigation a {
    line-height: 4em;
    color: #fff;
    font-size: 14px;
    letter-spacing: .035em; text-decoration: none;
}
.navigation a:hover {
    color: #b13; }
.navigation img {
    float: left;
    background: #b13;
    padding: 11px;
    padding-left: 20px;
    display: block;
    height: auto;
}
.navigation-links {
    position: relative;
    margin-left: 30px;
    display: block;
    height: auto;
}
.menu-button {
    float: right;
    display: none;
}
.menu-button img {
    background: #222;
}
@media (max-width: 992px) {
    .navigation-links,
    .contact-tagline,
    .contact-mail {
        display: none;
    }
    .menu-button {
        display: block;
    }
}
.contact-tagline,
.contact-mail {
    position: absolute;
    right: 0;
    color: #fff;
    font-size: 15px;
    background: #222;
    padding: 20px;
    padding-right: 27px;
}
.contact-tagline span {
    color: #b13;
}
/* Animation */
@keyframes toggler {
    0% { opacity: 0; }
    10% { opacity: 1; }
    50% { opacity: 1; }
    60% { opacity: 0; }
    100% { opacity: 0; }
}
@-webkit-keyframes toggler {
    0% { opacity: 0; }
    10% { opacity: 1; }
    50% { opacity: 1; }
    60% { opacity: 0; }
    100% { opacity: 0; }
}
.contact-mail {
    animation: toggler linear 5s;
    animation-iteration-count: infinite;
}
.copyright {
    font-size: 18px;
    color: #333;
    clear: both;
    border-top: 1px solid #9e9e9e;
    margin: 0 auto;
    margin-left: -10px;
    margin-right: -10px;
    padding: 20px;
}
footer .icon-section {
    position: relative;
    display: block;
    padding-right: 10px;
    padding-left: 10px;
}
@media (min-width: 768px){
    .icon-section {
        width: 33.33%;
        float: left;
    }
}
footer .icon-section .heading {
    text-align: center;
    font-size: 26px;
    line-height: 28px;
    color: #333;
    margin-bottom: 20px;
    margin-top: 10px;
}
footer .container .spacer {
    padding: 20px;
    overflow: hidden;
}
.banner-container { 
    width: 100%;
    position: relative;
    margin-top: 60px;
    width: 100%;
    overflow: hidden;
}
.banner-container .banner-section {
    position: absolute;
    z-index: 999;
    top: 0;
    bottom: 6px;
    width: 100%;
    background-position: left top, left top;
    background-repeat: repeat-x, repeat;
    text-align: center;
}
.banner-container .banner-section .banner-content {
    display: inline-block;
    margin-top: 12.0%;
}
.banner-container .banner-section h4 {
    opacity: 0.9;
    color: #FFFFFF;
}
h4 {
    font-size: 24px;
    line-height: 29.55px;
}
@media only screen and (max-width: 767px)  {
h4 {
    margin-bottom: 40px;
    }
}
.banner-container #banner-img-container {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 998;
    margin: 0 0 0 0;
    background: url("../img/bidPress.jpg") no-repeat center center fixed;
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat no-repeat;
}
@media only screen and (min-width: 320px) {
.banner-container #banner-img-container {
    min-height: 524px;
    }
}
.banner-container .banner-section h1 {
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    text-shadow: 0px 2px 4px rgba(0,0,0,0.5);
    font-weight: bold;
    font-size: 75px;
}
.green-button {
    background: #7ED321;
    font-size: 20px;
    color: #fff;
    position: absolute;
    top: 70%;
    left: 40%;
    padding: 19px 30px;
    border-radius: 6px;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.4);
    transition: all .5s ease-out;
    margin: 0 auto;
    display: inline-block;
}
.arrow {
    background: url("../img/arrow-right.png") left center no-repeat;
    height: 14px;
    width: 15px;
    margin-left: 15px;
    display: inline-block;
}
.homepage article.portfolio-container {
    background-color: #f1f1f1;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #E4E4E4;
}
.homepage article.portfolio-container h2 {
    font-family: "proxima-nova",Helvetica;
    font-style: italic;
    margin: 0 auto;
    text-align: center;
}
h2 {
    font-size: 30px;
    line-height: 51.55px;
}
.homepage .perspective-container {
    margin: 60px 0 60px 0;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
}
.homepage .perspective-container .text {
    font-family: "proxima-nova",Helvetica;
    font-size: 30px;
    float: left;
    width: 33.33%;
    padding-left: 10px;
    padding-right: 10px;
}
.homepage .perspective-container #text2 {
    padding-top: 95px;
    text-align: center;
}
.homepage .perspective-container #text1 {
    padding-top: 95px;
}

.homepage .perspective-container #text1 h1 {
    margin-right: 15px;
    text-align: right;
}
.golden-circle .what {
    background: url("../img/what-active.png") no-repeat center center;
    height: 337px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.golden-circle .how  {
    background: url("../img/how.png") no-repeat center center;
    height: 214px;
    width: 179px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.golden-circle .why {
    background: url("../img/why.png") no-repeat center center;
    height: 93px;
    width: 78px;
}
.left{
    text-align: center;
    float: left;
    width: 33.33%;
}
.homepage .perspective-container .list li {
    display: block;
    font-size: 30px;
    line-height: 1.5;
}
.red-text {
    color: #d22341;
}
@media (max-width: 992px) {
.homepage .perspective-container .text { 
        float: none;
        width: auto;
    }
.homepage .perspective-container #text1 h1{
        text-align: center;
        padding-bottom: 60px;
    }
}
.homepage .services-container {
    background-color: #f1f1f1;
    padding-top: 40px;
    padding-bottom: 108px;
    border-top: 1px solid #E4E4E4;
    border-bottom: 1px solid #E4E4E4;
}
.container {
    margin-right: 80px;
    margin-left: 80px;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
}
.homepage .services-container h1 {
    font-family: "proxima-nova",Helvetica;
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: 60px;
    text-align: center;
    font-weight: 100;
}
.homepage .services-container .service-item img {
    display: block;
    margin: 0 auto;
    height: 63px;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
}
.homepage .services-container .service-item {
    text-align: center;
    float: left;
    width: 33.33%;
}
@media (max-width: 992px) {
.homepage .services-container .service-item { 
        float: none;
        width: auto;
    }
}
.homepage .services-container .service-item h2{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px;
}
.homepage .services-container .service-item p {
    min-height: 75px;
    text-align: center;
    margin-bottom: 10px;
}
.homepage .services-container .service-item a {
    font-size: 18px;
    color: #d22341;
}
.right-arrow {
    display: inline-block;
    margin-left: 10px;
    width: 14px;
    height: 11px;
    background: url("../img/arrow-right-red.png") no-repeat;
    vertical-align: middle;
}
.homepage .services-container .shipping p {
    font-size: 18px;
    margin: 0;
    text-align: center;
    background-color: #f6f6f6;
    margin-top: 74px;
    min-height: 75px;
    line-height: 75px;
    margin-right: 10px;
    margin-left: 10px;
}
@media (max-width: 992px)  {
   .homepage .services-container .service-item {
        margin-bottom: 65px;
    }
}
